/backend/node_modules
/backend/.env
/frontend/node_modules
/frontend/.env
/node_modules
/scripts/.translate-cache.json
/conception/aides
/dist
/frontend/dist
/backend/dist
/backend/uploads/avatars/*
!/backend/uploads/avatars/.gitkeep
/agent
/conception/aides
/.env
.env
Test.md
Trello-plan-creation-roadmap.md
cahier-des-charges-template.md
dossier-projet.md
DOCUMENTATION-FONCTIONNALITES.md
CAHIER-DES-CHARGES-WIKISGUESSR.md
cahier-des-charges.md
DOSSIER-PROJET-DWWM.md
PLAN-DIAPORAMA-DWWM.md